<!-- Fixed navbar -->

    <nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md">
      <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleContainer" aria-controls="navbarsExampleContainer" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" routerLink="/">Angular 2</a>

        <div class="collapse navbar-collapse" id="navbarsExampleContainer">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active" *ngFor="let nav of  navs">
              <a class="nav-link" routerLink="/{{nav.url}}" routerLinkActive="active">{{nav.label}} <span class="sr-only"></span></a>
            </li>
         
          </ul>
          <div class="form-inline my-2 my-md-0" *ngIf="isLoggedIn==false">           
            <a class="btn btn-success my-2 my-sm-0" routerLink="/login" type="submit">Sign In</a>
          </div>
        </div>
      </div>
    </nav>

    <div class="container" id="app">
        
        <router-outlet></router-outlet>
        <!-- Routed views go here -->
    </div>
    <!-- /.container -->